.face-extractor{

    &__btn{
        width: 100%;
        display: block;
        margin: .5rem 0;
        padding: 1rem 0;
        cursor: pointer;
    }

    &__display{
        background: #eee;
    }

    &__loading{
        background: red;
    }
    &__list{
        min-height: 10rem;
        padding: .5rem;
        gap: .5rem;
        background: #eee;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 160px));
        grid-template-rows: repeat(auto-fit, minmax(7rem, 8rem));

        max-height: 30rem;
        overflow-y: auto;
    }

    &__canvas{
        display: none;
    }
}

.face-image{
    display: flex;
    flex-direction: column;
    background: #333;
    border: 1px solid #ddd;
   

    &__img{
        max-width: 100%;
        max-height: 100%;

    }

    &__img-container{
        height: 7rem;
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    &__btn{
        width: 100%;
    }
}