.editor{
    min-height: 200px;

    background: #333;
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem;

    &--min &__row{
        flex-direction: column;
        margin: 0;
    }

    &__row{
        display: flex;
        margin: .5rem 0;
    }
    &__field{
        margin: 0 .5rem;
    }

    &--min &__field{
        display: flex;
        align-items: center;
       
    }

    &__label{
        margin-right: .3rem;
        font-weight: bold;
    }

    &--min &__label{
        width: 100px;
    }

    &__input{
        width: 4rem;
        padding: .3rem;

        &--big{
            width: 8rem;
        }
    }

    
}